html {
  height: 100%;
  width: 100%;
  background-color: #A4ACD2;
  background-image: url("/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Satisfy', cursive;
  color: #576CC6;
  text-align: center;
}

h2 {
  font-family: 'Satisfy', cursive;
  color: #576CC6;
}

#invitation{
  height: 65vh;
  width: 100%;
  background-image: url("/images/bg_input.png");
  background-size: contain;
  background-position: right;
  background-repeat:no-repeat;
}

#indexName{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  padding-left: 26%;
  padding-top: 3%;
}

#forms{
  padding-left: 17%;
}

.input-container {
  padding-left: 35%;
  display: flex;
  align-items: center;
}

.input-container input {
  flex: 1;
  background-color: #DFE5FA;
  color: #576CC6;
  min-width: 10ch;
  max-width: 25ch;
  margin-right: -4px;
  text-align: right;
} 

#greeting{
  font-family: 'Satisfy', cursive;
  padding-left: 25%;
}

#header {
  background-color: #DFE5FA;
  border-radius: 20px;
  height: 130px;
  margin-top: 10px;
  text-align: center;
  color: #576CC6;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

th,
td {
  border: solid #576CC6;
  border-width: 2px;
  padding: 12px;
  background-color: #DFE5FA;
  color: #576CC6;
  font-weight: bold;
}

.inputCSS {
  border-radius: 10px;
  margin-bottom: 5px;
  height: 40px;
  border: 2px solid #576CC6;
  background-color: #DFE5FA;
  text-align: center;
  font-weight: bold;
  color: #576CC6;
}

#output {
  padding: 20px;
  overflow: auto;
  background-color: #DFE5FA;
  color: #576CC6;
  border-radius: 15px;
  font-weight: bold;
}

img {
  object-fit: contain;
  width: 100%;
  height:rgb(154, 140, 140);
  border-radius: 15px;
}

button {
  background-color: #576CC6;
  color: rgb(255, 255, 255);
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #DFE5FA;
  color: #576CC6;
}
